body {
  background-color: rgb(228, 228, 228);
}

/* NavBar Section */
.nav-container {
  display: flex;
  align-items: center;
  font-family: Georgia, serif;

}

.home {
  color: black;
  text-indent: 90px;
  width: 50vw;
  font-size: 36px;
  font-variant: small-caps;
  font-weight: 900;
}

.navbar-right {
  display: flex;
  list-style-type: none;
}

.navbar-right-options {
  padding: 10px;
  color: black;
  text-decoration: none;
}

/* Home Section */
.container-fluid {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.col-md-6 {
  max-width: 50vw;
  height: auto;
}
.welcome-banner {
  background-color: rgb(120, 167, 183);
  color: rgb(0, 0, 0);
  padding: 5%;
  /* margin: auto; */
}

.home-img {
  max-width: 100%;
  padding: 1%;
}

.welcome {
  max-width: 30vw;
}

.greeting {
  padding: 2px;
}

.introduction {
  padding: 2px;
}

/* About Section */
.about-info {
  padding: 10px;
  background-color: rgb(212, 161, 161);
  color: rgb(0, 0, 0);
}


.image-skills {
  width: 50%;
  display: flex;
}

.about-img {
  max-width: 100%;
}

.skills {
  padding: 10px;
  background-color: rgba(142, 142, 142, 0.92);
  color: rgb(0, 0, 0);
}

.ind-skills {
  padding-bottom: 5px;
  font-size: 18px;
}

/* Project Section */

.projects-img {
/* padding: 5px; */
max-width: 48vw;
}

.notable {
  width: 50%;
  background-color: rgb(115, 112, 32);
  color: white;
  padding:10px
}

.projects-portfolio {
  padding: 5px;
  margin: 5px;
}

.projects-finished {
  padding: 10px;
}

/* My Work */
.my-work-row1 {
  display: flex;
}

.container1 {
  align-items: center;
}

.mood-game {
  text-align: center;
  padding: 2px;
}

.mood-game-img {
  width: 50vw;
  margin-top: 7%;
}

.container2 {
  padding: 2px;
}

.date-idea-app {
  text-align: center;
}

.date-idea-app-img {
  width: 50vw;
  padding: 2px;
  margin-top: 10%;
}

.introvert-empowerment {
  text-align: center;
}

.introvert-empowerment-img {
  width: 50vw;
  padding: 2px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Footer */
.foot {
  display: block;
}

.foot-container {
  display: flex;
  justify-content: center;
}

.foot-image {
  max-width: 25px;
  height: auto;
  padding-left: 4px;
}
