body {
  background-color: rgb(228, 228, 228);
width: auto;
}
.col-md-12 {
  max-width: 50vw;
  height: auto;
   display: flex;
  justify-content: center;
}

/* NavBar Section */
.nav-container {
  width: auto;
  display: flex;
  align-items: center;
  font-family: Georgia, serif;
}
.home {
  display: flex;
  justify-content: center;
  text-align: center;
  color: black;
  width: 50vw;
  font-size: xxx-large;
  font-variant: small-caps;
  font-weight: 900;
}
.navbar-right {
  display: flex;
  list-style-type: none;
}
.navbar-right-options {
  padding: 10px;
  color: black;
  text-decoration: none;
}

/* Home Section */
.container-fluid {
  width: auto;
  margin-left: auto;
  margin-right: auto;
}
.welcome-banner {
  background-color: rgb(120, 167, 183);
  color: rgb(0, 0, 0);
  padding: 1%;
}
.home-img {
  max-width: 100%;
}
.welcome {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3%;
}
.greeting {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2px;
}
.introduction {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* About Section */
.about-info {
  padding: 10px;
  background-color: rgb(212, 161, 161);
  color: rgb(0, 0, 0);
  }
.img {
  display: flex;
  align-items: center;
  justify-content: center;
}
.about-img {
  max-height: 340px;
}
.skills {
  padding: 10px;
  background-color: rgba(142, 142, 142, 0.92);
  color: rgb(0, 0, 0);
  max-height: 425px;
  max-width: 450px;
}
.ind-skills {
  padding-bottom: 5px;
  font-size: 18px;
}

/* Project Section */
.project-row {
margin-top: 1%;}
.projects-img {
  max-width: 48vw;
}
.pic {
  display: flex;
  justify-content: center;
  padding: 1%;
}
.notable {
  width: 50%;
  background-color: rgb(115, 112, 32);
  color: white;
  padding: 1%;
}
.projects-portfolio {
  padding: 5px;
  margin: 5px;
}
.projects-finished {
  padding: 10px;
}

/* My Work */
.row {
  display: flex;
  justify-content: center;
}
.mood-game {
  text-align: center;
  padding: 5%;
}
.mood-game-img {
  width: 90vw;
  padding: 2px;
  max-width: 1000px;
}
.date-idea-app {
  text-align: center;
  padding: 5%;
}
.date-idea-app-img {
  width: 90vw;
  padding: 2px;
  max-width: 1000px;
}
.introvert-empowerment {
  text-align: center;
  padding: 5%;
}
.introvert-empowerment-img {
  width: 90vw;
  padding: 2px;
  max-width: 1000px;
}

/* Footer */
.foot {
  display: block;
}
.foot-container {
  display: flex;
  justify-content: center;
}
.foot-image {
  max-width: 25px;
  height: auto;
  padding-left: 4px;
}
