body {
  background-color: rgb(228, 228, 228);
}
.btn {
  margin: 5px;
}
hr {
  border: 2px solid #0d6efd;
  margin-top: 0;
}
h3 {
  font-family: Georgia, serif;
  display: flex;
  justify-content: center;
  align-items: center;
}
.col-sm-6 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.col-sm-12 {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* NavBar Section */

.nav-container {
  display: flex;
  align-items: center;
  font-family: Georgia, serif;
}



.home {
  display: flex;
  justify-content: center;
  text-align: center;
  color: black;
  width: 50vw;
  font-size: xxx-large;
  font-variant: small-caps;
  font-weight: 900;
}
.navbar-right {
  display: flex;
  list-style-type: none;
  float: right;
}
.navbar-right-options {
  padding: 10px;
  color: black;
  text-decoration: none;
}

/* Content */
.container {
  padding-left: 100px;
  padding-right: 100px;
  font-family: sans-serif;
}
.container-fluid {
  width: 100%;
  margin-left: auto;
  margin-right: auto;

}
/* Bench */
.bench-top-img {
  max-width: 40vw;
  padding: 1%;
}
.bench-joinery-img {
  max-width: 40vw;
  padding: 1%;
}
.p-bench {
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  font-family: Georgia, serif;
}
/* \Mantel */
.p-mantel {
  padding: 0.75rem;
  margin-bottom: 1.5rem;
  font-family: Georgia, serif;
}
.mantel-full-img {
  max-width: 80vw;
  padding: 1%;
}
.mantel-detail-img {
  max-width: 50vw;
  padding: 1%;
}
.mantel-side-img {
  max-width: 50vw;
  padding: 1%;
}
/* Coat */
.p-coat {
  padding: 0.75rem;
  margin-bottom: 1.5rem;
  font-family: Georgia, serif;
}
.coat-full-img {
  max-width: 80vw;
  padding: 1%;
}
.coat-detail-img {
  max-width: 50vw;
  padding: 1%;
}
.coat-hook-img {
  max-width: 50vw;
  padding: 1%;
}
/* Clock */
.p-clock {
  padding: 0.75rem;
  margin-bottom: 1.5rem;
  font-family: Georgia, serif;
}
.clock-img {
  max-width: 35vw;
  padding: 1%;
}

/* Footer */
.foot {
  display: block;
}

.foot-container {
  display: flex;
  justify-content: center;
}

.foot-image {
  max-width: 25px;
  height: auto;
  padding-left: 4px;
}