body {
  background-color: rgb(228, 228, 228);
}

.btn {
  margin: 5px;
}

hr {
  border: 2px solid #0d6efd;
  margin-top: 0;
}

h3 {
      font-family: Georgia, serif;
}

/* NavBar Section */

.nav-container {
  display: flex;
  align-items: center;
  font-family: Georgia, serif;
}

.home {
  color: black;
  text-indent: 90px;
  width: 50vw;
  font-size: 36px;
  font-variant: small-caps;
  font-weight: 900;
}

.navbar-right {
  display: flex;
  list-style-type: none;
  float: right;
}

.navbar-right-options {
  padding: 10px;
  color: black;
  text-decoration: none;
}


/* Content */
.container {
  padding-left: 100px;
  padding-right: 100px;
  font-family: sans-serif;
}

.container-fluid {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.bench-top-img {
  max-width: 30vw;
  padding: 1%;
  margin-left: 10vw;
}

.bench-joinery-img {
  max-width: 30vw;
  padding: 1%;
  margin-left: 10vw;
}

.p-bench {
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    font-family: Georgia, serif;
  }

.p-mantel {
  padding: 0.75rem;
  margin-bottom: 1.5rem;
  font-family: Georgia, serif;
}

.mantel-full-img {
  max-width: 32vw;
  padding: 1%;
}

.mantel-detail-img {
  max-width: 32vw;
  padding: 1%;
}

.mantel-side-img {
  max-width: 32vw;
  padding: 1%;
}

.p-coat {
    padding: 0.75rem;
    margin-bottom: 1.5rem;
    font-family: Georgia, serif;
  }

.coat-full-img {
  max-width: 32vw;
  padding: 1%;
}

.coat-detail-img {
  max-width: 32vw;
  padding: 1%;
}

.coat-hook-img {
  max-width: 32vw;
  padding: 1%;
}

.p-clock {

}

.clock-img {
  max-width: 35vw;
  padding: 1%;
}
